@import '../../../theme/styles.scss';

page-calendar {
    font-family: $font-primary;
    .schedule-modal {
        position: static;
        display: block;
        width: 90%;
        height: 80%;
        contain: strict;
        margin: 50px auto;
    }

    ion-modal {
        position: static;
        display: block;
        width: 90%;
        height: 80%;
        contain: strict;
        margin: 50px auto;
    }

    .calendar {
        &__view-title {
            text-align: center;
        }
        .monthview-container {
            .slides {
                .swiper-container {
                    .swiper-wrapper {
                        .table.monthview-datetable > tbody > tr > td {
                            padding: 15px;
                            border: none;
                            font-size: 1.5rem;
                            line-height: 1.8rem;
                        }

                        .table.monthview-datetable > thead > tr > th {
                            border: none;
                        }
                    }
                }
            }
            .event-detail-container {
                display: flex;
                box-sizing: border-box;
                flex-direction: column;
                margin-right: 25px;
                padding-top: 10px;
                .item {
                    margin: 0px 10px 10px;
                    border-radius: 5px;
                    background-color: #26A69A;
                    color: aliceblue;
                    font-size: 1.5rem;
                    line-height: 1.8rem;
                    box-sizing: border-box;
                    .no-events-label {
                        color: aliceblue;
                    }
                    .monthview-eventdetail-timecolumn {
                        width: 100px;
                        text-transform: capitalize;
                        display: inline-block;
                        padding: 0;
                        margin-bottom: -5px;
                    }
                }
            }
        }

        .monthview-primary-with-event, .monthview-selected, .monthview-current  {
            border-radius: 50%;
        }

        .monthview-selected {
            background-color: #26A69A;
        }
        
    }
}
