<ion-menu [content]="content" type="overlay" class="menu">

  <ion-header class="menu__header">
    <div class="menu__header--userprofile">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Angular_one_color_inverse_logo.svg/1024px-Angular_one_color_inverse_logo.svg.png">
    </div>
    <div class="menu__header--userinfo">
      {{authProvider.user?.user.name}}
    </div>
    <button class="menu__header--button">Edit Profile</button>
  </ion-header>

  <ion-content class="menu__content">
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}" item-left></ion-icon>
        {{p.title}}
      </button>
      <button ion-item (click)="onSaveDevice()">
        <ion-icon name="notification" item-left></ion-icon> Save Device
      </button>
      <button ion-item (click)="onSendNotification()">
        <ion-icon name="notification" item-left></ion-icon> Send notification
      </button>
    </ion-list>

    Device information: {{device | json}}

  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
